.footer {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px 20px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  box-shadow: 0 -3px 10px rgba(0,0,0,0.2);
}

.footer-contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo img {
  width: 40px;
  height: 40px;
}

.footer-nombre h3 {
  margin: 0;
  font-size: 16px;
  color: #f39c12;
}

.footer-nombre p {
  margin: 0;
  font-size: 12px;
  color: #ccc;
}

.footer-devs {
  display: flex;
  gap: 10px;
  font-size: 13px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer-bottom {
  text-align: center;
  font-size: 12px;
  color: #aaa;
  border-top: 1px solid rgba(255,255,255,0.2);
  margin-top: 5px;
  padding-top: 5px;
}
