<footer class="footer">
  <div class="footer-contenido">
    <div class="footer-logo">
      <img src="assets/logo.png" alt="Logo RapiTec">
      <div class="footer-nombre">
        <h3>RapiTec</h3>
        <p>Gestión rápida y confiable</p>
      </div>
    </div>

    <div class="footer-devs">
        <li>👩 Karla Mendez</li>
        <li>👨 Milton Avila</li>
        <li>👨 Jose Morocho</li>
        <li>👨 Luis Rey</li>
    </div>
  </div>

  <div class="footer-bottom">
    © 2025 RapiTec — Todos los derechos reservados.
  </div>
</footer>
