<div class="card-container">
  <div class="logo-container">
    <img src="/assets/logo.png" alt="Logo" class="logo">
    <div class="app-title">Rapitec</div>
  </div>

  <h2>Registro</h2>
  <form (ngSubmit)="registrar()">
    <label for="nombres">Nombres:</label>
    <input type="text" id="nombres" [(ngModel)]="nombres" name="nombres" required>

    <label for="apellidos">Apellidos:</label>
    <input type="text" id="apellidos" [(ngModel)]="apellidos" name="apellidos" required>

    <label for="correo">Correo:</label>
    <input type="email" id="correo" [(ngModel)]="correo" name="correo" required>

    <label for="clave">Clave:</label>
    <input type="password" id="clave" [(ngModel)]="clave" name="clave" required>

    <button type="submit">Registrar</button>
    
    <div class="registro-link">
      <a routerLink="/login">¿Ya tienes cuenta? Inicia sesión</a>
    </div>
  </form>
</div>
