<div class="card-container">
  <div class="logo-container">
    <img src="/assets/logo.png" alt="Logo" class="logo" />
    <h1 class="app-title">Gestión de Productos</h1>
  </div>

  <h2>📝 Registro de Producto</h2>

  <form (ngSubmit)="guardarProducto()">
    <label for="nombre">Nombre:</label>
    <input
      type="text"
      id="nombre"
      [(ngModel)]="nuevoProducto.nombre"
      name="nombre"
      required
      placeholder="Ej: Lápiz"
    />

    <label for="stock">Stock:</label>
    <input
      type="number"
      id="stock"
      [(ngModel)]="nuevoProducto.stock"
      name="stock"
      required
      min="0"
    />

    <label for="precio">Precio:</label>
    <input
      type="text"
      id="precio"
      [(ngModel)]="nuevoProducto.precio"
      name="precio"
      required
      pattern="^[0-9]+([.][0-9]{1,2})?$"
      (keypress)="validarDecimal($event)"
      placeholder="Ej: 19.99"
    />

    <label for="categoria">Categoría:</label>
    <select
      id="categoria"
      [(ngModel)]="nuevoProducto.categoria"
      name="categoria"
      required
    >
      <option value="" disabled selected>Selecciona una categoría</option>
      <option *ngFor="let cat of categorias" [value]="cat">{{ cat }}</option>
    </select>

    <button type="submit">Agregar</button>
  </form>
</div>
